<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css">
  <!-- IGB START -->
  <script src="/static/js/es5-shim.min.js"></script>
  <script src="/static/js/es5-sham.min.js"></script>
  <!-- IGB ENDE -->
  <script src="/static/vendor.bundle.js"></script>
    {% if user %}
      <meta property="user" content='{{ user|tojson }}'>
      <script src="/static/bundle.js"></script>
    {% endif %}
</head>
<body>
{% if current_user.is_authenticated() %}
  <navbar></navbar>
  <div class="container">
    <div ui-view></div>
  </div>
{% else %}
  <div style="width:100px; margin:0 auto;">
    <a class="btn btn-info" style="width: 100%" href="{{ url_for("twobad_login_redirect", back=request.path) }}" role="button">Login</a>
  </div>
{% endif %}
</body>
</html>
