<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <!-- IGB START -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <!-- IGB ENDE -->
    <script src="/static/vendor.bundle.js"></script>
    <script src="/static/bundle.js"></script>
</head>
<body>
<navbar></navbar>
<div class="container">
    <div ui-view></div>
</div>
<hr/>
{{ session.user }}
</body>
</html>
